/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Storia+Sans:wght@400;700&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #333333;
  --header-color:    #F8766D;
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(255, 255, 255, 0.8);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Storia Sans", sans-serif;
  --mono-font:       "Storia Sans", sans-serif;
  --body-font:       "Storia Sans", sans-serif;
  --navbar-font:     "Storia Sans", sans-serif;
}

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
  font-weight: 300;
}

/* More properties ... */
